<style>
    a {
      color: #FFE169;
      background-color: #000000;
      text-decoration: none;
    }

    a:hover {
      color: #000000;
      background-color: #FFE169;
      text-decoration: none;
    }

    body {
        color: #FFFFFF;
        background-color: #121212;
    }
</style>

<body>
    Salut {{first_name}},<br/>
    <br/>
    C'est Fred de l'équipe KaraokeOK, tu peux cliquer sur le lien ci-dessous 👇🏻 pour réinitialiser ton mot de passe<br/>
    <br/>
    <a href="{{reset_password_url}}">Réinitialiser mon mot de passe</a><br/>
    <br/>
    Si tu n'es pas à l'origine de cette demande ne tiens pas compte de cet email ; ton mot de passe restera inchangé<br/>
    <br/>
    A bientôt sur <a href="{{front_app_url}}" >KaraokeOK</a> !<br/>
    <br/>
    <br/>
    Fred M.<br/>
    <br/>
    <img src="{{app_url}}/media/brand.png" height="64" />
</body>